{% extends './index.html.twig' %}

{% block title %}1xBet{% endblock %}

{% block bookmaker %}1xBet{% endblock %}

{% block inscription %}
    <li><a href="https://cutt.ly/OjksHoJ">Inscription</a></li>
{% endblock %}


{% block bookmakers %}
    <li class="menu-has-children"><a href="">Bookmakers</a>
        <ul class="dropdown">
            <li><a href="{{ path('1win') }}">1Win</a></li>
            <li><a href="{{ path('betwinner') }}">BetWinner</a></li>
            <li><a href="{{ path('linebet') }}">LineBet</a></li>
            <li><a href="{{ path('melbet') }}">MelBet</a></li>
        </ul>
    </li>

{% endblock %}

{% block image_bookmaker %} <div class="carousel-item active"  style="background-image: url({{ asset("assets/index/img/1xbet/1xbet.png") }})" > {% endblock %}

{% block start %}
    <p>1xBet est actif sur Internet depuis 2011 et accepte les paris sportifs sur la base d'une licence internationale obtenue sur l'île de Curaçao. C'est le premier bookmaker à avoir proposé une aussi bonne sélection de marchés sportifs et le fameux bonus de 200% pour la première recharge. Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
    <a href="https://cutt.ly/OjksHoJ" class="btn-get-started scrollto">S'inscrire</a>
{% endblock %}

{% block xbet %}
<ul class="dropdown">
    <li><a href="#ap">1xbet Afrique</a></li>
    <li><a href="#ip">1xbet sur Iphone</a></li>
    <li><a href="#et">1xbet Europe</a></li>
</ul>
{% endblock %}

{% block footer_bookmakers %}

    <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1win') }}">1Win</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('betwinner') }}">BetWinner</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('linebet') }}">LineBet</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('melbet') }}">MelBet</a></li>
{% endblock %}


{% block content %}
    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url({{ asset("assets/img/bg-img/bg_1.jpg") }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center" id="promo">
                        <h2>Promotion</h2>
                        <p>👋 Les paris sportifs n'ont jamais été aussi pratiques et simples. Il suffit de télécharger l'application 1xBet et vous êtes dans un grand jeu! Pour tous les nouveaux joueurs sur l'application mobile: Bonus jusqu'à 65 000 FCFA  lors de l'inscription.  Utilisez notre  code promo officiel D555 pour recevoir le bonus dès aujourd'hui.
                            Suivez tutoriel d'inscription chez 1xbet qui vous permet d'avoir tous vos bonus et d'avoir un compte certifié et de profiter des meilleures cotes, et cela quelque soit votre pays de résidence.
                            Je vais vous demander d'être attentif, 10 minutes qui vont être très bien investies et rentables sur le long terme.✊💪💪💪</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### CTA Area End ##### -->
    <br>

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_1xbet_cre.mp4') }}" controls></video>
                    <div class="receipe-content">

                            <h5>Création d'un compte 1xBet</h5>

                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_1xbet_fr_er.mp4') }}" controls></video>
                    <div class="receipe-content">

                            <h5>1xBet en france</h5>

                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_1xbet_ip.mp4') }}"  controls></video>
                    <div class="receipe-content">

                            <h5>1xbet sur Iphone</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
<!-- ##### Best Receipe Area End ##### -->

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading" id="ap">
                    <h3>Procédure d'inscription</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea1.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Il faut télécharger l'application, la version Android 1xbet via le lien ci-dessus</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea3.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Entrer dans l'application <br>
                                👉 Choisir inscriptions <br>
                                👉 Ensuite sur "complète"</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea6.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 le mot de passe doit commencer par une lettre majuscule et doit contenir les chiffres et les lettres et doit être d'au moins 8 caractères.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea8.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Valider! Un SMS doit être envoyé sur votre numéro pour vous permettre de confirmer votre inscription.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea10.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Après connexion, vous pourrez recevoir les bonus chaque lundi et vendredi à votre première recharge.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea12.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Cliquer sur votre profil puis recherger le compte, au besoin.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_crea14.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Vous trouverez içi les moyens de recharge de votre pays qui sont disponibles</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_pb1.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Pour activer le bonus tu entres dans ton profil et tu choisis "changer de compte"</h5>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><br>

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading" id="ip">
                    <h3>1xBet sur Iphone</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip1.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip2.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip3.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip4.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip5.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip6.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip7.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip8.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip9.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip10.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip11.jpg") }}" alt="">
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/1xbet/1xbet_ip12.jpg") }}" alt="">
                </div>
            </div>

        </div>
    </div>
</section><br>

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">

            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_1xbet_fr2.mp4') }}"  controls></video>
                        <div class="receipe-content">

                                <h5>1xbet france</h5>

                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_1xbet_fr.mp4') }}"  controls></video>
                        <div class="receipe-content">

                                <h5>1xBet international</h5>

                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-best-receipe-area mb-30">
                        <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_1xbet_fr3.mp4') }}"  controls></video>
                        <div class="receipe-content">

                                <h5>Les coupons 1xBet</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    <!-- ##### Best Receipe Area End ##### -->
{% endblock %}