{% extends './index.html.twig' %}

{% block title %}MelBet{% endblock %}

{% block bookmaker %} MelBet {% endblock %}

{% block inscription %}
    <li><a href="https://m.melbet.com/">Inscription</a></li>
{% endblock %}

{% block bookmakers %}
    <li class="menu-has-children"><a href="">Bookmakers</a>
        <ul class="dropdown">
            <li><a href="{{ path('1xbet') }}">1xBet</a></li>
            <li><a href="{{ path('1win') }}">1Win</a></li>
            <li><a href="{{ path('betwinner') }}">BetWinner</a></li>
            <li><a href="{{ path('linebet') }}">LineBet</a></li>
        </ul>
    </li>
{% endblock %}

{% block footer_bookmakers %}

    <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1win') }}">1Win</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('betwinner') }}">BetWinner</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('linebet') }}">LineBet</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1xbet') }}">1xBet</a></li>
{% endblock %}


{% block content %}
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-6" style="align-content : center">
                <div class="single-best-receipe-area mb-30">
                    <video class="col-12 title-section" height="350" src="{{ asset('./assets/img/video_melbet_crea.mp4') }}" controls></video>
                    <div class="receipe-content">

                            <h5>Création d'un compte bonus melbet.</h5>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section><br>
<!-- ##### Best Receipe Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<section class="cta-area bg-img bg-overlay" style="background-image: url({{ asset("assets/img/bg-img/bg_1.jpg") }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <!-- Cta Content -->
                <div class="cta-content text-center" id="promo">
                    <h2>Promotion</h2>
                    <p>Son offre de bienvenue de 100% jusqu’à 130 euros est conséquente ! C’est un bonus exclusif que nous proposons avec le code promo D555.</p>
                </div>
            </div>
        </div>
    </div>
</section><br>
<!-- ##### CTA Area End ##### -->


<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading" id="ap">
                    <h3>Procédure d'inscription</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea1.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Si vous entrez dans le site et que ça affiche cette image, suivez la procédure suivante:</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea2.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Il faut télécharger un VPN. Téléchargez l'application "Cyber VPN" qui fera parfaitement l'affaire.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea3.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Telechargez CyberVpn <br>
                                👉 Sur la page d'accueil, tapez sur GO <br>
                                👉 Choisir comme pays: "Canada" <br>
                                👉 Nous sommes connectés sur le serveur "Toronto, Canada"</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea4.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="https://cutt.ly/bjeUyxw">
                            <h5>👉 Cliquez içi sur le lien Melbet ci-dessous pour télécharger l'application et téléchargez la version Android✅</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea5.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Entrez dans l'application <br>
                                👉 Choisir "inscriptions" <br>
                                👉 Enfin sur "complète"</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea8.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Code promo: D555 <br>
                                👉 Choisir Bonus pour le sport✅ <br>
                                Le mot de passe doit commencer par une lettre majuscule et doit contenir les chiffres.
                            </h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea10.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Validez! Vous allez recevoir votre identifiant qui doit s'afficher.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea11.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Remplissez votre ID et votre mot de passe et appuyez sur se connecter.💪</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea13.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Pour recharger, c'est la même procédure que 1xbet</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea14.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Cliquer rechargez le compte.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-best-receipe-area mb-30">
                    <img src="{{ asset("assets/img/melbet/melbet_crea15.jpg") }}" alt="">
                    <div class="receipe-content">
                        <a href="#">
                            <h5>👉 Vous trouverez içi les moyens de recharge de votre pays qui sont disponibles !</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
{% endblock %}