<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title>1xbet Code Promotionnel - D555 -</title>

    <!-- Favicon -->
    <link href="{{ asset("./assets/img/logo_p.png") }}" rel="icon">
    <link href="{{ asset("./assets/img/logo_p.png") }}" rel="apple-touch-icon">

    <meta name="author" content="Marc Tatchou">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Code Promotionnel D555 ! ">
    <meta property="og:site_name" content="Stéphane">

    <meta name="twitter:title" property="og:title" itemprop="name" content="Stéphane - Nous proposons un code promotionnel unique pour 5 bookmakers">
    <meta name="twitter:description" property="og:description" itemprop="description" content="Notre code promotionnel D555 vous fera recevoir une multitude de bonus après inscription sur 1xbet, betWinner, LineBet, 1Win, melbet.">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&amp;subset=latin-ext" rel="stylesheet">
    {# Run `composer require symfony/webpack-encore-bundle` to start using  Symfony UX #}

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ asset("assets/base/css/main.css") }}">
    {% block stylesheets %}

    {% endblock %}

    <!-- JS -->
    <script src="{{ asset("assets/base/js/vendor/modernizr-2.8.3.min.js") }}"></script>
    <script src="{{ asset("assets/base/js/vendor/jquery-1.12.0.min.js") }}"></script>
    {% block javascripts %}

    {% endblock %}
</head>
<body>
{% block body %}

    <div class="site" id="page">
        <a class="skip-link sr-only" href="{{ path("base") }}#">#</a>

        <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
        <section class="hero-section hero-section--image clearfix clip">
            <div class="hero-section__wrap">
                <div class="hero-section__option">
                    <img src="{{ asset("assets/base/images/bg_1.jpg") }}" alt="Hero section image">
                </div>
                <!-- .hero-section__option -->

                <div class="container">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8">
                            <div class="title-01 title-01--11 text-center">
                                <h2 class="title__heading">
                                    <span>Bookmakers</span><br>
                                    <strong class="hero-section__words">
                                        <span class="title__effect is-visible">1xBet</span>
                                        <span class="title__effect">1Win</span>
                                        <span class="title__effect">LineBet</span>
                                        <span class="title__effect">BetWinner</span>
                                        <span class="title__effect">MelBet</span>
                                    </strong>
                                </h2>
                                <div class="title__description">Notre <strong>code promotionnel D555</strong> vous fera recevoir une multitude de bonus après inscriptions chez nos différents bookmakers! Inscrivez-vous pour voir et recevoir les notifications sur les coupons disponibles. </div>

                                <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                                <div class="title__action"><a href="{{ path("login") }}" class="btn btn-success" style="font-size: 10px">Se connecter</a></div>
                                <br><br>
                                <div align="center" class="title__action">
                                    <a href="{{ path('1xbet') }}" class="btn btn-outline-success button-sm">Continuer<i class="fa fa-whatsapp" style="font-size: 10px" aria-hidden="true"></i></a>
                                    <a href="{{ path('register') }}" class="btn btn-outline-success button-sm">S'incrire<i class="fa fa-telegram" style="font-size: 10px" aria-hidden="true"></i></a>
                                </div>
                            </div> <!-- .title-01 -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <!-- JS -->
    <script src="{{ asset("assets/base/js/plugins/animate-headline.js") }}"></script>
    <script src="{{ asset("assets/base/js/main.js") }}"></script>
{% endblock %}
</body>
</html>
