<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <meta name="author" content="Marc Tatchou">

    <meta name="description" content="Code Promotionel D555 ! ">
    <meta property="og:site_name" content="SetphSport">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{{ asset('./assets/img/logo_p.png') }}">
    <meta name="twitter:title" property="og:title" itemprop="name" content="Setphsport - Nous proposons un code promotionnel unique pour 5 bookmakers">
    <meta name="twitter:description" property="og:description" itemprop="description" content="Notre code promotionnel * D555 * vous fera recevoir une multitude de bonus après inscriptions sur 1xbet, betWinner, LineBet, 1Win, Melbet.">

    <title>{% block title %} {% endblock %}- Code Promo D555</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ asset("./assets/img/logo_p.png") }}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ asset("./assets/style.css") }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ asset("assets/index/lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ asset("assets/index/lib/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/index/lib/animate/animate.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/index/lib/ionicons/css/ionicons.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/index/lib/owlcarousel/assets/owl.carousel.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/index/lib/lightbox/css/lightbox.min.css") }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ asset("assets/index/css/style.css") }}" rel="stylesheet">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{{ asset("./assets/img/logo_s.png") }}" alt="">
</div>

<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>


<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">Code Promo D555</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Accueil</a></li>
                <li class="menu-has-children"><a href="#portfolio">Coupons</a>
                    <ul>
                        <li><a href="{{ path('register') }}">S'incrire</a></li>
                        <li><a href="{{ path('login') }}">Se connecter</a></li>
                        <li><a href="{{ path('reset_password') }}">Changer le mot de passe</a></li>
                        <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                    </ul>
                </li>
                <li><a href="">Bonus</a></li>
                <li><a href="">Procédure d'inscription</a></li>
                <li>{% block inscription %}  {% endblock %}</li>
                {% block bookmakers %}

                {% endblock %}
                <li><a href="#footer">Contacts</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url({{ asset("assets/index/img/1xbet/1xbet.png") }})">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>1xBet</h2>
                            <p>Enregistrez-vous pour voir et reçevoir les coupons disponibles avec le code promo bonus D555</p>
                            <p>1xBet est actif sur Internet depuis 2011 et accepte les paris sportifs sur la base d'une licence internationale obtenue sur l'île de Curaçao. C'est le premier bookmaker à avoir proposé une aussi bonne sélection de marchés sportifs et le fameux bonus de 200% pour la première recharge. Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
                            <a href="https://cutt.ly/OjksHoJ" class="btn-get-started scrollto">Inscription 1xBet</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({{ asset("assets/index/img/1win/1win.jpg") }})">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>1Win</h2>
                            <p>Enregistrez-vous pour voir et reçevoir les coupons disponibles avec le code promo bonus D555</p>
                            <p>1win est un bookmaker assez jeune. La société a été fondée en 2016, jusqu’en 2018, elle était FirstBet.1win accepte des joueurs  du monde entier, y compris du continent africain, le site est traduit et adapté en 9 langues dont le français. Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
                            <a href="https://1wvua.top/#hzlt" class="btn-get-started scrollto">Inscription 1Win</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({{ asset("assets/index/img/linebet/linebet.jpg") }})">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>LineBet</h2>
                            <p>Enregistrez-vous pour voir et reçevoir les coupons disponibles avec le code promo bonus D555</p>
                            <p>LINEBET est titulaire de la licence internationale de Curaçao n° 8048 / JAZ. Faites des paris sur tous les événements dans l'application mobile LINEBET! Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
                            <a href="https://m.Linebet.com/fr/?whn=desctop" class="btn-get-started scrollto">Inscription LineBet</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({{ asset("assets/index/img/betwinner/betwinner.jpg") }})">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>BetWinner</h2>
                            <p>Enregistrez-vous pour voir et reçevoir les coupons disponibles avec le code promo bonus D555</p>
                            <p>Betwinner est un bookmaker de nouvelle génération qui travaille depuis 2018. Le site officiel est fait dans des couleurs agréables, dispose d’une interface moderne et compréhensible. Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
                            <a href="https://bwredir.com/1bY0?p=/user/registration/" class="btn-get-started scrollto">Inscription BetWinner</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({{ asset("assets/img/melbet/melbet.jpg") }})">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>MelBet</h2>
                            <p>Enregistrez-vous pour voir et reçevoir les coupons disponibles avec le code promo bonus D555</p>
                            <p>La société de paris Melbet propose une vaste offre de paris sportif en ligne. Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
                            <a href="https://m.melbet.com/" class="btn-get-started scrollto">Inscription MelBet</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<!--==========================
  About Us Section
============================-->
<section id="portfolio" class="section-bg">
    <div class="container">
        {% if (app.user) %}
            <header class="section-header">
                <h3 class="section-title">Coupons</h3>
                <p style="font-size: 30px">Bienvenue, {{ app.user.name | capitalize }} !</p>
            </header>

            <div class="row portfolio-container">
                {% for coupon in coupons %}
                    <div class="col-lg-6 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                {% if coupon.couponImage is not empty %}
                                    <img src="../uploads/images/{{ coupon.couponImage[0].fileName }}" class="img-fluid" alt="Image coupon">
                                    <a href="../uploads/images/{{ coupon.couponImage[0].fileName }}" data-lightbox="portfolio" data-title="{{ coupon.message }}" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                {% endif %}
                            </figure>

                            <div class="portfolio-info">
                                <h4><a href="">Bookmaker: {{ coupon.bookmaker }}</a></h4>
                                <P>{{ coupon.code }} </P>
                                </p>
                            </div>
                        </div>
                        <p>{{ coupon.auteur }} | Date d'ajout : {{ coupon.createdAt | date('d/m/Y') }}</p>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <header class="section-header">
                <h3 class="section-title">Coupons</h3>
                <h4 align="center" >
                    Inscrivez-vous pour voir et reçevoir les coupons disponibles avec le code promo bonus D555 <br><br>
                    <a href="{{ path('register') }}">S'inscrire</a>
                </h4>
            </header>

        {% endif %}

    </div>
</section><!-- #portfolio -->

<br><br>
<!-- ##### Hero Area End ##### -->
{% block content %}

{% endblock %}

<!-- ##### Footer Area Start ##### -->

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Code D555</h3>
                    <p>Notre code promotionnel vous fera recevoir une multitude de bonus après inscriptions chez nos différents bookmakers!</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Liens rapides</h4>
                    <ul>
                        {% block footer_bookmakers %}

                        {% endblock %}
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contacts</h4>
                    <p>
                        <strong>Ville:</strong> Douala<br>
                        <strong>Pays:</strong> Cameroun <br>
                        <strong>Téléphone:</strong> +237 691636830<br>
                    </p>

                    <div class="social-links">
                        <a href="https://chat.whatsapp.com/GTNMATtHG97FWZn7nVqd3X" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                        <a href="https://www.facebook.com/STEPHDIDIDIER/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://youtube.com/channel/UC1wUVTPNRn38k08GhIpY9ng" class="youtube"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://t.me/stephpronos237" class="telegram"><i class="fa fa-telegram"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright, Tous droits reservés !
        </div>
        <div class="credits">
            Réalisé par <a href="https://wa.me/23756450734"> Marc Analytica </a>
        </div>
    </div>
</footer><!-- #footer -->

<!-- JavaScript Libraries -->
<script src="{{ asset("assets/index/lib/jquery/jquery.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/jquery/jquery-migrate.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/easing/easing.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/superfish/hoverIntent.js") }}"></script>
<script src="{{ asset("assets/index/lib/superfish/superfish.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/wow/wow.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/waypoints/waypoints.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/counterup/counterup.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/owlcarousel/owl.carousel.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/isotope/isotope.pkgd.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/lightbox/js/lightbox.min.js") }}"></script>
<script src="{{ asset("assets/index/lib/touchSwipe/jquery.touchSwipe.min.js") }}"></script>
<!-- Contact Form JavaScript File -->
<script src="{{ asset("assets/index/contactform/contactform.js") }}"></script>

<!-- Template Main Javascript File -->
<script src="{{ asset("assets/index/js/main.js") }}"></script>

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="{{ asset("./assets/js/jquery/jquery-2.2.4.min.js") }}"></script>
<!-- Popper js -->
<script src="{{ asset("./assets/js/bootstrap/popper.min.js") }}"></script>
<!-- Bootstrap js -->
<script src="{{ asset("./assets/js/bootstrap/bootstrap.min.js") }}"></script>
<!-- All Plugins js -->
<script src="{{ asset("./assets/js/plugins/plugins.js") }}"></script>
<!-- Active js -->
<script src="{{ asset("./assets/js/active.js") }}"></script>
</body>

</html>